::-webkit-input-placeholder{
  color: #dadada;
}

:root {
  --background: #5278F2;
  --background-scrapbook: #f0f0f0;
  --color-dark: #443bee;
  --color-btn-hover-save: #4DAE33;
  --color-btn-hover-delete: #e2374b;
  --color-btn-hover-edit: #ffbf00;
}

body {
  background-color: var(--background);
  color: #fff;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.content-page {
  margin: 0 auto;
  width: 100%;
  max-width: 95%;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: var(--background-scrapbook);
  padding-top: 25px;
  padding-right: 45px;
  padding-left: 45px;
  padding-bottom: 45px;
  border-radius: 12px;
}

.top-page {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.top-page #id {
  background-color: var(--background-scrapbook);
  border: none;
  color: #fff;
}

.top-page input {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--color-dark);
  outline: none;
  font-size: 1.2rem;
  background-color: var(--color-dark);
  color: #fff;
}

.top-page button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid var(--color-dark);
  background-color: var(--color-dark);
  color: #fff;
  outline: none;
}

.top-page button:hover {
  background-color: var(--color-btn-hover-save);
  border-color: var(--color-btn-hover-save);
  cursor: pointer;
}

table {
  font-size: 1.1rem;
}

.btnAction {
  border-radius: 20px;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  cursor: pointer;
  background-color: var(--color-dark);
  color: #fff;
  outline: none;
}

.btn-delete:hover {
  background-color: var(--color-btn-hover-delete);
  /* color: #000; */
}

.btn-edit:hover {
  background-color: var(--color-btn-hover-edit);
  color: #000;
  font-weight: 700;
}

body div div .scrapbook {
  color: var(--color-dark);
  font-weight: 500;
  border-radius: 12px;
  /* background-color: var(--background) */
}

.none {
  display: none;
}